<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travel Planner</title>
  </head>

  <body>
    <header>
      <div class="title-app">
          My Travel Planner
      </div>
    </header>

    <main>
      <section>
        <form id="urlForm" onsubmit="return Client.handleSubmitAction(event)" method="POST">
          <P id="error"></P>
          <label for="destination">My trip to: </label>
          <input id="destination" type="text" name="destination" placeholder="Please enter your destination" required>
          <label for="date-planner">Departing: </label>
          <input type="date" id="date-planner" name="date-planner">
          <button id="submitButton" type="submit">Search</button>
        </form>
      </section>

      <section class="container">
        <div id="result-trips">
          <h2>My trips result: </h2>
          <div id="trip-card">
            <div class="country-img">
              <img id="img-src" src="" alt="happy your trip"/>
            </div>
            <div class="country-info">
              <p id="country-name"></p>
              <p id="departing"></p>
              <p id="wheather-info"></p>
              <div class="group-btn">
                <button id="save-btn" class="btn"></button>
                <button id="remove-btn" class="btn"></button>
              </div>
            </div>
          </div>
        </div>

        <!-- <div id="list-trips">
          <h2>List my trips Saved:</h2>
          <div id="saved"></div>
        </div> -->
      </section>
    </main>

    <footer></footer>
    </body>
</html>
